body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

#username {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#packageList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#packageList li {
    margin: 10px 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#totalDownloads {
    margin-top: 30px;
    padding: 10px;
    font-size: 1.2em;
    color: #007BFF;
    border-top: 1px solid #ddd;
}